# local package
-e .

# external requirements
click
coverage
awscli
flake8
python-dotenv>=0.5.1
pandas == 2.2.2
matplotlib
numpy
seaborn
scikit-learn
mlflow == 2.12.0
dvc
prince
dask[dataframe]
scikit-learn == 1.4.0